@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: black;
    color: white;
    font-size: 16px;
}
header{
    position: fixed;
    width: 80vw;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: 1fr 600px;
    gap: 10%;
    align-items: center;
    z-index: 2;
    & img{
        width: 250px;
    }
 & nav{
       & ul{
        display: grid;
        grid-template-columns: repeat(3, 300px);
       }
       & a{
        text-decoration: none;
        color: white;
        font-size: 20px;
        /* font-weight: bold; */
        text-align: center;
        padding: 10px;
        border-radius: 10px;
        transition: 0.5s;
        &:hover{
            background-color: #791fd3;
        }
       }
      }
      
  }
   section{
    background-image: radial-gradient(#7f3d9e, #6d00d9);
    height: 100vh;
    position: relative;

    & .list{
        width: 65vw;
        height: 100%;
        position: relative;
        margin: auto;

        & .item{
            position: absolute;
            inset: 0;   
            
            & .car-img{
                position: absolute; 
                z-index: 1; 
                top: 50%;
                transform: translateY(-50%);

                & img{
                    width: 100%;
                    transform: rotate(-20deg);
                }
                &::before{
                    content: '';
                    position: absolute;
                    background-color: black;
                    width: 100%;
                    height: 100px;
                    top: 150%;
                    left: 50px;
                    border-radius: 50%;
                    filter: blur(50px);
                }
            }
            & .content{
                position: absolute; 
                right: 80px;
                width: 30vw;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: end;
                gap: 20px;
                z-index: 1;
                

                & .car-information{
                    font-weight: bold;
                }

                & h2{
                    font-size: 8em;
                    line-height: 0.7em;
                    font-family: "League Gothic", serif;
                }

                & .description{
                    color: #d9d9d9;
                    margin-top: 70px;
                    font-size: 1rem;
                    text-align: right;
                    max-width: 400px;
                }

                & .information{
                    border-radius: 30px;
                    height: 35px;
                    width: 120px;
                    text-transform: uppercase;
                    border: 2px solid #791fd3;
                    background-color: #beff1b;
                    color: black;
                    cursor: pointer;
                    font-weight: bold;
                    
                }
            }
        }

        &::before{
            content: '';
            position: absolute;
            height: 200px;
            width: 100%;
            top: 50%;
            border-top: 1px solid #fff;
           
        }

    }

        .arrows {
            width: 65vw;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            justify-content: space-between;
            z-index: 3;
            

        & button:nth-child(1){
            & img{
                transform: scale(-1);
            }
        }
        & button{
            top: 60%;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: none;
            cursor: pointer;
            z-index: 4;
            & img {
                width: 25px;
                margin-top: 4px;
                cursor: pointer;
            }

            &:hover{
                background-color: #beff1b;
            }
        }
        }
        
            .indicators{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%);
                height: 200px;
                width: 90vw;
                display: flex; 
                flex-direction: column;
                justify-content: end;
                gap: 15px;

                & .number{
                    font-size: 5em;
                    font-family: "League Gothic", serif;
                }

                & ul{
                    display: flex;
                    gap: 10px;

                    & li{
                        width: 50px;
                        height: 5px;
                        background-color: #beff1b;
                        border-radius: 5px;
                        cursor: pointer;
                        transition: 0.5s;
                    }

                    & .active{
                        background-color: #fff;
                    }

                }
            }


   }

section{
    & .list{

        --calculation: 1;

        & .item{
            transform: translateX(calc(100vw * var(--calculation)));
            transition: 0.5s;

            & .car-img{
                & img{
                    transform: rotate(0);
                    transition: 0.5s;   
                    transition-delay: 0.3s;
                }

              
            }

            & .content{

                & .car-information, h2, .description, .information{
                    transform: translateX(calc(200px * var(--calculation)));
                    transition: 0.7s;
                    transition-delay: 0.3s;
                    opacity: 0;

                }
                & h2{
                    transition-delay: 0.5s;
                }
                & .description{
                    transition-delay: 0.7s;
                }
                & .information{
                    transition-delay: 0.9s;
                }
            }
        }

        & .active{
            transform: translateX(0);
            transition: 0.5s;
            opacity: 1;


            & .car-img{
                & img{
                    transform: rotate(-20deg);
                }
            }

            & .content{

                & .car-information, h2, .description, .information{
                    transform: translateX(0px);
                    opacity: 1;
                }
            }

        }
    }
}
@media (max-width: 550px){
       main{
        min-width: 100%;
        max-width: 570px;
        margin: auto;
        height: auto;
    }

    header img{
        display: none;
    }
    header{
        margin: 50px 0 0 0;
        min-width: 20%;
        max-width: 400px;
        height: auto;
        display: flex;
        gap: 7%;
        font-size: 0.2rem;
        flex-direction: column;
        position: absolute;
    }
    header nav ul{
        display: grid;
        grid-template-columns: repeat(3, 100px);

    }
    header nav ul li{
        text-decoration: none;
        color: white;
        text-align: center;
        width: 20px;
        transition: 0.5s;

    }
    body{
        font-size: 10px;
    }
    section{
        height: 100vh;
    }
    div.content{
        width: 300px;
    }

    section .arrows{
        width: 85vw;
    }

   section .arrows button img{
        width: 16px;
    }
    section .arrows button{
        width: 25px;
        height: 25px;
    }
    section .list .item .content{
        right: 1px;
        top: 59%;
        left: 240px;
        width: 10vw;
        height: auto;
        font-size: 10px;
    }
    section .list .item .content h2{
        font-size: 2.3em;
        width: 100px;
        text-align: end;
        font-weight: 400;
    }
    section .list .item .content .description{
        color: #d9d9d9;
        font-size: 8px;
        text-align: right;
        max-width: 350px;
        font-weight: 500;
        width: 300px;
        height: auto;
        margin-top: 5px;
    }
    .car-img img, .cars img { max-width: 100%; height: auto; display:block; }

    .cars { width: 100%; max-width: 360px; height: auto; }

    section .indicators .number{
        position: relative;
        top: 90%;
    }
    section .indicators ul{
        position: relative;
        margin-top: 30px;
        justify-content: center;
        top: 60%;
        flex-wrap: wrap;
    }
    .item { display: flex; flex-direction: column-reverse; align-items: center;
     }

    .content { position: static;
     width: 90%; text-align:
      center; margin-top: 1rem; 
    }
section{
    & .list{

        --calculation: 1;

        & .item{
            transform: translateX(calc(100vw * var(--calculation)));
            transition: 0.5s;
            display: none;
            & .car-img{
                & img{
                    transform: rotate(0);
                    transition: 0.5s;   
                    transition-delay: 0.3s;
                }

              
            }

            & .content{

                & .car-information, h2, .description, .information{
                    transform: translateX(calc(200px * var(--calculation)));
                    transition: 0.7s;
                    transition-delay: 0.3s;
                    opacity: 0;

                }
                & h2{
                    transition-delay: 0.5s;
                }
                & .description{
                    transition-delay: 0.7s;
                }
                & .information{
                    transition-delay: 0.9s;
                }
            }
        }

        & .active{
            transform: translateX(0);
            transition: 0.5s;
            opacity: 1;
            display: flex;


            & .car-img{
                & img{
                    transform: rotate(-20deg);
                }
            }

            & .content{

                & .car-information, h2, .description, .information{
                    transform: translateX(0px);
                    opacity: 1;
                }
            }

        }
    }
}
}
  